.Gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  .Spirals {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    align-items: stretch;
    gap: 20px;
  }
}

.Card {
  padding: 5px;
  border-radius: 3px;
  img {
    border-radius: 3px;
    width: 225px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
  }
}

.spiral {
  background-color: #b4c2cf;
  border: 10px solid #c2e812;
  border-radius: 3px;
  &:hover {
    background-color: #c2e812;
    border: 10px solid ghostwhite;
    cursor: pointer;
  }
}
