.Gameboard {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .Circles {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    align-items: stretch;
    gap: 20px;
  }
  .Hexes {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: stretch;
    gap: 20px;
  }
  .Triangles {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    align-items: stretch;
    gap: 20px;
  }
  .Spirals {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    align-items: stretch;
    gap: 20px;
  }
}

.Card {
  padding: 5px;
  border-radius: 3px;
  img {
    border-radius: 3px;
    width: 225px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
  }
}
.circle {
  background-color: #b4c2cf;
  border: 10px solid #632a50;
  box-shadow: 0.5px 0.5px #b4c2cf;
  border-radius: 3px;
  &:hover {
    background-color: #632a50;
    border: 10px solid ghostwhite;
    box-shadow: 1px 1px #632a50;
    cursor: pointer;
  }
}
.hex {
  background-color: #b4c2cf;
  border: 10px solid #745296;
  box-shadow: 0.5px 0.5px #b4c2cf;
  border-radius: 3px;
  &:hover {
    background-color: #745296;
    border: 10px solid ghostwhite;
    box-shadow: 1px 1px #745296;
    cursor: pointer;
  }
}
.triangle {
  background-color: #b4c2cf;
  border: 10px solid #91f5ad;
  box-shadow: 0.5px 0.5px #b4c2cf;
  border-radius: 3px;
  &:hover {
    background-color: #91f5ad;
    border: 10px solid ghostwhite;
    box-shadow: 1px 1px #91f5ad;
    cursor: pointer;
  }
}
.spiral {
  background-color: #b4c2cf;
  border: 10px solid #c2e812;
  box-shadow: 0.5px 0.5px #b4c2cf;
  border-radius: 3px;
  &:hover {
    background-color: #c2e812;
    border: 10px solid ghostwhite;
    box-shadow: 1px 1px #c2e812;
    cursor: pointer;
  }
}
