.Header {
  grid-area: 1 / 1 / 2 / 3;
  height: 100%;
  color: #393d3f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  .instructions {
    font-size: 14px;
    &:first-child {
      margin-top: 10px;
    }
  }
  .scoreboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 100px;
    top: 40px;
    font-size: 16px;
  }
}
